/**
 *	Adventure Works Cycles AG - CSS
 *
 *	author Janick Michot
 *	date 12.10.2017
 *	version	1.0.0
 *
 */
 

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Layout
# Typography
# Elements
# Bootstrap Elements
	# Carousel
	# Popover
	# ...

--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	height:100%;
	overflow-x: hidden;
	max-width: 100%;	
}

.container,
.container-fluid {
	padding-top: 40px;
	padding-bottom: 40px;
}
.container *:first-child {
	margin-top: 0;
}

.bottom-bar .container {
	padding-top: 10px;
	padding-bottom: 10px;
}

header {
	padding-top: 15px;
}
header .container,
header .container-fluid {
	padding-top: 15px;
	padding-bottom: 15px;	
}

section {
	
}

nav {
	
}

article {
	
}

aside {
	
}



footer {
	
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html,
body {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-weight: 400;
}

a {
	color: inherit;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #111;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oxygen', sans-serif;
	color: #333;
}

h1 {
	
}

h2 {
	
}

h3 {
	font-size: 20px;
	font-weight: 900;
}
h4 {
	font-size: 16px;
	font-weight: 700;
}

table thead,
table tfoot {
	font-weight: 600;
}


.navbar {
	color: #888;
	text-transform: uppercase;
	font-size: 0.95em;
}

.logo {	
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color:#333;
}

/** slider **/
.slider * {	
	font-family: 'Oxygen', sans-serif;
	color: #fff;	
}
.slider .slider-title {
	font-size: 60px;
	font-weight: 900;
}
.slider .slider-desc {
	font-size: 36px;
	font-weight: 600;	
}

/** footer **/
footer {
	font-size: 0.85em;
	color: #777;
}
footer h4 {
	color: #888;
}

footer a:hover,
footer a:focus {
	color: #ccc;
}

/*--------------------------------------------------------------
# Global Classes
--------------------------------------------------------------*/

.hidden {
	display:none
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle {
	display: table;
	border-radius: 100%;
	text-align: center;
	line-height: 100%;
}
.circle > * {
	display: table-cell;
	vertical-align:middle;
}
.circle * {	
	text-align: center;
}

/** grid without padding **/
.row-no-padding {
	margin: 0;
	padding: 0;
}
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.row-no-padding .row {
	margin: 0;
}

.background-gray {
	background-color: #eee;
	
}

/** dotted background line **/
.dotted-line {
	position: relative;	
}
.dotted-line:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../img/dot-line.png') no-repeat;
	background-size: 86%;
	background-position: center;
	z-index: 1;
}
.dotted-line div.container {
	position: relative;
	z-index: 20;
}



/** dashed box **/
.dashed-box {
	padding: 20px;
	border: 2px dashed #bdb099;
}
.dashed-box:hover {
	border: 2px dashed #444;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

body {
	border-top: 3px solid #bdb099;	
}

main {
	
}

*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none !important;
}

*:focus {
    outline: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

label {
	display: block;
	margin: 0;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0.2em 0 0.4em;
	padding:0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: disc;
	list-style-position:inside;
}

ol {
	list-style: decimal;
	list-style-position: inside;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	width: auto;
    max-width: 100%;
    max-height: 100%;    	
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

tfoot {
	background: #f4f4f4;
}

thead {
	background-color: #fbfbfb;
}

tr {
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 10px;
	word-wrap: break-word;
}

button,
.btn {
	background-color: #ddd;
	border-radius: 0;
	border: none;
	padding: 10px 15px;
}
button:hover,
button:focus,
.btn:hover,
.btn:hover {
	background-color: #bbb;
}

.btn-primary {
    background-color: #9abd99;    
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #728a72;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

headaer {
}

/** header icons **/
header .nav-icon {
	padding: 10px;
}
header .header-left {
	padding-left: 20px;
}
header .header-left .nav-icon {
	float: left;
}
header .header-right {
	padding-right: 10px;
}
header .header-right .nav-icon {
	float: right;
}


/** navigation **/
header .navbar {
	display: table;
	min-height: 40px;	
	margin: 0 auto;	
}
header nav ul.nav {
	text-align: center;
}

header ul.nav li {
	padding: 0 15px; 
	list-style: none;
	float:left;
	height: 40px;
	line-height: 40px;
}
header ul.navbar li.before-logo:before {
	font-family: FontAwesome;
	content: "\f0d7";
	padding-right: 5px;
	opacity: 0.4;
}
header ul.navbar li.after-logo:after {
	font-family: FontAwesome;
	content: "\f0d7";
	padding-left: 5px;
	opacity: 0.4;
}
 


/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/

.carousel {
	border: 1px solid #eee;
	border-left: none; 
	border-right: none;
	width: 100%;
	height: 100%;
}

/** Progress Bar **/
.carousel-progress-bar {
    height: 5px;
    background-color: #333;
	opacity: 0.3;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: absolute;
	top: 0;
	left: 0;
}

/** indicators **/
.carousel-indicators li,
.carousel-indicators li.active {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: #333;
	border-style: none;
	margin: 0;
}
.carousel-indicators li.active {
	width: 7px;
	height: 7px;
}

/** control **/
.carousel .carousel-control {
	width: 16%;
	background: none;
	z-index: 100;
	opacity: 1;	
	color: #bdb099;
	font-size: 12px;
	font-weight: 200;
}
.carousel .control {
	width: 40px;
	height: 40px;
	background-color: #fff;
	text-shadow: none;
	-webkit-box-shadow: 1px 0px 4px 1px rgba(232, 232, 232, 0.3);
	-moz-box-shadow: 1px 0px 4px 1px rgba(232, 232, 232, 0.3);
	box-shadow: 1px 0px 4px 1px rgba(232, 232, 232, 0.3);		
}

/** content **/
.slider {
	height: 500px;
	width:100%;
	position:relative;
}
.slider .background {
	z-index: 19;
}
.slider * {
	z-index: 20;
}
.slider .foreground {
	z-index: 21;
}
.slider .left {
	margin-left: -120px; /* calc */
	margin-top: -80px; /* calc */	
}
.slider .right {
	margin-left: 70px; /* calc */
}

/** -	-	snip -	-	*/
.slider.bicycle {
	background-color: #bdb099;
}
.slider.zwei {
	background-color: #adbd99;
}
.slider.drei {
	background: url('../img/backgrounds/background.jpg') no-repeat;
	background-size: 100% 100%;
}


/*--------------------------------------------------------------
# Mosaic Grid
--------------------------------------------------------------*/

.mosaic {
	margin-left: -4px;
	margin-right: -4px;
}

.mosaic .block {	
	margin: 4px;
	overflow: hidden;	
}
/** lights out effects **/
.mosaic .block:before {
	content: "";	
	position:absolute;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	background-color: rgba(5, 5, 5, 0.0);
}
.mosaic .block:hover:before {
	background-color: rgba(5, 5, 5, 0.6);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.mosaic .block.small {
	height: 250px;	
}
.mosaic .block.big {
	height: 508px;	
}

.mosaic .block h3 {
	color: #fff;
}

/** background circle **/
.mosaic .block .circle {	
	width: 200px;
    height: 200px;
	border-style: none;
	z-index: 100;
}

.mosaic .block:hover .circle {
    border: 1px dashed #fff;
	margin-top: -1px;
	padding-top: 2px;
}

.mosaic a:hover {
	color: inherit;
}

/**	-	-	snip	-	- */
.cat1 {
	background: url('../img/backgrounds/background4.jpg') no-repeat;
	background-size: 100% auto;
}
.cat2 {
	background: url('../img/backgrounds/background.jpg') no-repeat;
	background-size: auto 100%;
}
.cat3 {
	background: url('../img/backgrounds/background2.jpg') no-repeat;
	background-size: auto 100%;
}
.cat4 {
	background: url('../img/backgrounds/background1.jpg') no-repeat;
	background-size: 100% auto;
}
.cat5 {
	background: url('../img/backgrounds/background3.jpg') no-repeat;
	background-size: auto 100%;
}

/*--------------------------------------------------------------
# Product Grid
--------------------------------------------------------------*/

.products {
	margin-left: -4px;
	margin-right: -4px;
    padding-top: 15px;
    padding-bottom: 15px;	
}
.products .thumbnail {
	border-radius: 0px;
	border:0;
	background-color: #fff;
	margin: 4px;
	box-sizing: border-box;
}

.products .caption {
	text-align: center;
}

.products .thumbnail:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


/*--------------------------------------------------------------
# Popover
--------------------------------------------------------------*/

.popover {
	border-radius: 0;
	border: 1px solid #aaa;
}
.popover .popover-title {
	font-size: 0.8em;
	font-family: 'Oxygen', sans-serif;
}
.popover.right .arrow{
	border-right-color: #aaa;
}
.popover.left .arrow{
	border-left-color: #aaa;
} 

/** Content **/
.color-picker {
	width: 96px;
}
.color-picker:after {
	content: "";
	display: block;
	clear:left;
}
.color-picker .color {
	float: left;
	width: 28px;
	height: 28px;
	margin: 2px;
	border-radius: 3px;
	cursor: pointer;
}
.color-picker .color:hover {
	border: 1px solid #666;
}
.color-picker .color:focus {
	outline: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
	background-color: #2c2c2c;
    border-top: 7px solid #bdb099;
}
footer.dotted-line:before {
	background-size: 98%;
	opacity: 0.1;
}

footer .bottom-bar {
    background-color: #222;
    border-top: 1px solid #2f2f2f;
}

.back-to-top {
	font-size: 36px;
	color: #555;
}


/*--------------------------------------------------------------
# Basket
--------------------------------------------------------------*/

/** generall Dropdwon zeugs **/
.dropdown-menu {
	border-radius: 0;
	border: 1px solid #eee;
}
.dropdown-footer {
	padding: 0 15px 15px;
}

.mini-basket .dropdown-menu {
	left: auto;
	right: 0;
	width: 500px;
}

table.basket {	
}
table.basket tr {
	border-left: 0;
	border-right: 0;
}

table.basket td.product-image {
	width: 300px;
}

table.basket td:first-child {
	padding-left: 15px;
}
table.basket td:last-child {
	padding-right: 15px;
}



